# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing and Coverage
/coverage

# Next.js and Production
/.next/
/out/
/build
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc and Debug
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

# Editor Directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

